@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-background: #f6f8fc;
  --hover-effect: #eaebef;
  --search-input: #eaf1fb;
  --search-input-click: #ffffff;
  --nav-background: #f6f8fc;
  --create-color: #c2e7ff;
  --left-clik: #d3e3fd;
  --mails-background: #ffffff;
  --box-color: #f2f6fc;
  --active-color: #d3e3fd;
  --icon-size: 24px;
}

.flex, main .mail .right, main .mail .left, main .top .left .checkbox input, main .top .left .checkbox, header .right, header .middle form .search, header .middle form, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon, main .mail .left span, main .top .right i, main .top .left i, header .right img, header .right i, header .middle form .settings, header .middle form .search i, header .left .hamburger-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: content-box;
}
.icon:hover, main .mail .left span:hover, main .top .right i:hover, main .top .left i:hover, header .right img:hover, header .right i:hover, header .middle form .settings:hover, header .middle form .search i:hover, header .left .hamburger-menu:hover {
  background-color: var(--hover-effect);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--nav-background);
}

a {
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  gap: 20px;
}

header {
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  font-size: 21px;
}
header .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .left .hamburger-menu {
  padding: 5px;
  font-size: var(--icons-size);
}
header .left img,
header .left span {
  cursor: pointer;
}
header .middle {
  width: 100%;
}
header .middle form {
  justify-content: space-between;
  background-color: var(--search-input);
  padding: 6px 10px;
  gap: 10px;
  border-radius: 30px;
  max-width: 580px;
}
header .middle form .search {
  gap: 10px;
}
header .middle form input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  width: 450px;
}
header .right {
  justify-content: space-between;
  gap: 10px;
}
header .right img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 13px;
  gap: 25px;
}
nav .create {
  background-color: var(--create-color);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
nav .create:hover {
  box-shadow: 2px 2px 10px gray;
}
nav .nav-middle {
  display: grid;
  font-size: 16px;
}
nav .nav-middle .active {
  background-color: var(--active-color);
  border-radius: 0px 20px 20px 0px;
}
nav .nav-middle a {
  padding: 7px 12px 7px 26px;
  cursor: pointer;
  display: flex;
  gap: 12px;
}
nav .nav-middle i span {
  pointer-events: none;
}
nav .nav-bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-color: #fff;
  border-radius: 8px;
  flex-grow: 1;
}
main .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .top .left {
  display: flex;
  gap: 8px;
}
main .top .left i {
  width: 25px;
  height: 25px;
}
main .top .left .checkbox {
  padding-left: 10px;
  gap: 3px;
}
main .top .left .checkbox input {
  border-radius: 0;
  width: 15px;
  height: 20px;
}
main .top .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
main .top .right .passive {
  color: rgb(174, 174, 174);
}
main .top .right i {
  width: 25px;
  height: 25px;
}
main .top .right .keyboard {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  padding-left: 5px;
}
main .top .right .keyboard i {
  border-radius: 0;
  margin-top: 2px;
  width: 15px;
  height: 20px;
  padding: 4px;
}
main .mails-area {
  height: 80vh;
}
main .mail {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  font-size: 16px;
  background-color: var(--box-color);
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 10px;
  transition: all 0.3s;
}
main .mail:hover {
  box-shadow: 0 0 10px rgb(211, 211, 211);
}
main .mail .left {
  justify-content: start;
  gap: 5px;
}
main .mail .left span {
  width: 20px;
  height: 20px;
}
main .mail .right {
  justify-content: space-between;
  font-size: 17px;
}
main .mail .right .message-title {
  font-weight: bold;
  white-space: nowrap;
}
main .mail .right .message-description {
  margin-left: 14px;
  width: 100%;
}
main .mail .right .message-date {
  font-size: 15px;
  white-space: nowrap;
  width: 100px;
}
main .mail .right .delete {
  background: none;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}
main .mail .right .delete i {
  margin-right: 20px;
}
main .mail:hover > .right .message-date {
  display: none;
}
main .mail:hover > .right .delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}
aside img {
  width: 28px;
  height: 28px;
}
aside .icon, aside header .left .hamburger-menu, header .left aside .hamburger-menu, aside header .middle form .search i, header .middle form .search aside i, aside header .middle form .settings, header .middle form aside .settings, aside header .right i, header .right aside i, aside header .right img, header .right aside img, aside main .top .left i, main .top .left aside i, aside main .top .right i, main .top .right aside i, aside main .mail .left span, main .mail .left aside span {
  width: 30px;
  height: 30px;
}
aside span {
  background-color: gray;
  width: 100%;
  height: 2px;
}

.modal-wrapper {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.2);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  place-items: center;
}
.modal-wrapper .modal-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}
.modal-wrapper .modal-inner #close-btn {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
.modal-wrapper .modal-inner form {
  display: flex;
  flex-direction: column;
}
.modal-wrapper .modal-inner form label {
  margin-top: 40px;
}
.modal-wrapper .modal-inner form input,
.modal-wrapper .modal-inner form textarea {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 10px;
  padding: 8px;
  outline: none;
}
.modal-wrapper .modal-inner form textarea {
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  resize: vertical;
}
.modal-wrapper .modal-inner form #send-mail-btn {
  background-color: var(--create-color);
  border: none;
  padding: 15px 30px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  transition: all 0.3s;
}
.modal-wrapper .modal-inner form #send-mail-btn:hover {
  box-shadow: 0 0 10px gray;
}

.hide .create span,
.hide .nav-middle a span,
.hide .nav-bottom span {
  display: none;
}

#toggle {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 75px;
  height: 25px;
  border-radius: 160px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
#toggle .indicator {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  transition: all 0.5s;
  top: 0;
  left: 0;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

#toggle.active {
  background-color: #7ea8b3;
}

#toggle.active .indicator {
  left: 20px;
}

.darkMode {
  background-color: #8dbbc9;
}/*# sourceMappingURL=style.css.map */